
/* NAVBAR */

nav {
    width: 100%;
    height: 60px;
    background-color: var(--white);
    border-bottom: 2px solid var(--beige);
    display: flex;
    justify-content: space-between;
    color: var(--core-purple);
        a {
            color: var(--core-purple);
        }
}

.navbar__elements-left {
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

.navbar__elements-center {
    font-size: 1rem;
}

 .navbar__elements-right {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: var(--spacing-xsmall);
    margin-right: 5rem; 
} 


.navbar__item-logo {
    padding: var(--spacing-micro);
    margin: var(--spacing-micro);
    height: 80%;
    display: flex;
    align-items: center;
        img {
            height: 35px;
        }
}

.navbar__item-logo:hover {
    outline: solid 2px var(--core-purple);
    background-color: var(--core-purple-25A);
    border-radius: var(--spacing-xsmall);
}

.navbar__item-list {
    height: 100%;
    display: flex;
    gap: var(--spacing-xsmall);   
}

.navbar__item {
    height: 100%;
    width: min-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom: solid 2px rgba(0, 0, 0, 0);
        a {
            display: block;
            width: 100%;
            height: 100%;
            align-content: center;
            text-align: center;
        }
   
}

.navbar__item:hover {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid 2px var(--core-purple);
    background-color: var(--core-purple-25A);
    
}

.navbar__item-search {
    padding: var(--spacing-xsmall);
    margin: var(--spacing-micro);
    height: 80%;
    gap: 0.5rem;
    display: flex;
    align-items: center;
        img {
            margin-top: 0.3rem;
            height: 20px;
        }
}


.navbar__item-search:hover {
    outline: solid 2px var(--core-purple);
    background-color: var(--core-purple-25A);
    border-radius: var(--spacing-xsmall);
}

.navbar__item-login {
    padding: var(--spacing-xsmall);
    margin: var(--spacing-micro);
    height: 80%;
    gap: 0.5rem;
    display: flex;
    align-items: center;
        img {
            margin-top: 0.3rem;
            height: 20px;
        }
}

.navbar__item-login:hover {
    outline: solid 2px var(--core-purple);
    background-color: var(--core-purple-25A);
    border-radius: var(--spacing-xsmall);
}


