@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* 
@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;

}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 600;
} */

body {
  min-height: 100vh;
  font-family: "Open Sans";
  font-size: 16px;
  color: var(--foreground-color);

  display: flex;
  flex-direction: column;

  background-color: var(--background-color);
}

h1 {
    font-size: 2rem;
}

h1,
h2 {
  font-weight: 300;
  letter-spacing: 0.2rem;
}

header {
  background: var(--background-color);
}

header ul {
  height: var(--spacing-large);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--hover-color);
}

main {
  flex-grow: 1;
}

footer {
  height: var(--spacing-large);
  border-top: 1px solid var(--foreground-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
  gap: var(--spacing-medium);
  justify-content: center;
}
